<ul>
    {{#if products}}
    {{#each products}}
        <li>{{title}}</li>
        <li>{{price}}</li>
        <li><img src={{thumbnail}} alt={{title}}></li>
        <hr>
    {{/each}}
    {{else}}
        <li>No hay productos</li>
    {{/if}}
</ul>
<button><a href="/">Ingresar producto</a></button>